<!DOCTYPE html>
<html class="fof">
    <%- include("./partials/head") %>
    <body>
        <div style="text-align: center; padding-top: 40px">
            <h1>404</h1>
            <h3>
                Page Not Found
                <span
                    style="
                        display: inline-block;
                        transform: rotate(90deg);
                        padding-bottom: 10px;
                        padding-right: 10px;
                    "
                    >:(</span
                >
            </h3>
        </div>
    </body>
</html>
