<!DOCTYPE html>
<html lang="en" class="signup">
    <%- include("./partials/head") %>
    <body>
        <h1>PotatoSocial</h1>
        <form>
            <h2>Signup</h2>
            <p class="error-field"></p>
            <input type="text" name="email" placeholder="Email" />
            <input type="text" name="username" placeholder="Username" />
            <input type="password" name="password" placeholder="Password" />
            <input
                type="password"
                name="repassword"
                placeholder="Confirm Password"
            />
            <button>Signup</button>
            <p>Already have an account? <a href="/login">Login now!</a></p>
        </form>

        <!-- Scripts -->
        <script src="./scripts/signup.js" type="module"></script>
    </body>
</html>
