<!-- Confirmation Popup -->
<div class="confirmation-popup">
    <p class="content">Test content for testing purpose</p>
    <div class="btns">
        <button class="confirm">Confirm</button>
        <button class="disprove">Cancel</button>
    </div>
</div>
